* {
    margin: 0px;
    padding: 0px;
}

#first {
    padding-left: 20px;
    background-color: rgb(130, 143, 138);
    height: 300px;
    font-size: 25px;
}

#second {
    padding-left: 20px;
    background-color: rgba(219, 164, 133, 0.822) ;
    height: 300px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: brown;
}

a:hover {
    color: coral;
    text-shadow: 7px 7px 5px black;
}